@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
html {
    height:100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(to right, #642B73, #C6426E);
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: montserrat, sans-serif;
}

.box, .endbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 500px;
    width: 550px;
    background: #dad7cdee;
    border-radius: 50px;
    box-shadow: 0 0 50px;
}
.endbox {
    height: auto;
}

.txt {
    padding-top: 15px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.txt p {
    margin: 0 5px 0 5px;
    font-size: 20px;
    font-weight: 500;
}

.code {
    font-family: Permanent Marker;
    user-select: none;
}

.txt .small {
    font-size: small;
}

.end p {
    text-align:start;
    padding-left: 5%;
    font-size: 20px;
    padding-bottom: 35px;
}

i {
    font-size: 30px;
}

.form {
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: end;
    margin-bottom: 35px;
}

.form input {
    border: none;
    outline: none;
    width: 150px;
    height: 35px;
    border-radius: 15px;
    padding-left: 10px;
    background-color: #000000a4;
    color: #dad7cd;
    font-family: inherit;
    transition: all .3s;
}

.form input::placeholder {
    color: #dad7cd;
}

.form button {
    border: none;
    outline: none;
    width: 100px;
    height: 35px;
    border-radius: 15px;
    background-color: initial;
    color: #000;
    font-weight: 500;
    font-family: inherit;
    cursor:pointer;
    transition: all .3s;
}

.form button:hover {
    color: #000000c0;
    background-color:#0000001c;
}

.form input:hover {
    background-color: #000000d3;
}

.form input:focus {
    background-color: #000000d3;
}


@media (max-width: 600px) {
    .box, .endbox {
        height: 450px;
        width: 350px;
    }

    .endbox {
        height: auto;
    }

    .txt h1 {
        font-size: 25px;
    }

    .txt p {
        margin: 0 15px 0 15px;
        font-size: 16px;
        font-weight: 500;
    }

    i {
        font-size: 16px;
    }

    .end p {
       font-size: 11.9px;
    }
}

/* Стили для контейнера всплывающего окна */
.popup-container {
    /* display: none; */
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    overflow-y: scroll;
}

/* Стили для содержимого всплывающего окна */
.popup-content {
    margin: 5px;
    background-color: #dad7cd;
    padding-top: 5px;
    border-radius: 25px;
    text-align: center;
}

#openButton {
    justify-self: center;
    align-self: center;
    border: none;
    outline: none;
    font-family: inherit;
    background-color: #000000a4;
    color: #dad7cd;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    padding:  15px;
    cursor: pointer;
    transition: all .3s;
}

#openButton:hover {
    background-color: #000000d3;
}

/* Стили для кнопки закрытия всплывающего окна */
#closeButton {
    background-color: #000000d3;;
    color: #dad7cd;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    font-size: 16px;
    margin: 10px 0 10px 0;
    font-family: inherit;
}

img {
    width: 300px;
    border-radius: 10px;
}
@media (max-width: 650px) {
    
    .popup-content {
        margin-top: 375px;
        padding-top: 10px;
    }

    .popup-content {
        width: 85%;
    }
    
    img {
        width: 100%;
    }
}
